.header {
    width: 1200;
    float: left;
}  
.main {
    clear: both;
}
header {
    background-color: rgb(6, 158, 158);
}
body {
    background-color: teal;
    float: left;
}
nav a{
    width: 200px;
    display: block;
    text-align: center
    background-color: rgb(120, 255, 9);
    font-size: 20px;
    color: rgb(239, 245, 239);
    padding: 20px;
    font-family: arial;    
}
nav a:hover{
    background-color: skyblue;
    color: rgb(134, 63, 4);
}
.main {
    background-image: url("../Photography/Images/zoom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(153, 173, 151)
}

p{
    color: rgb(150, 241, 12);
    text-align: left;
    font-size: 20px;
}
nav {
    float: left
}
nav ul {
    margin: 10px;
    padding: 1rem;
    list-style: none;
}
nav li {
    display: inline block;

}
nav a:hover{
    background-color: skyblue;
    color: rgb(134, 63, 4);
}

h2{
    color: rgb(247, 115, 20);
    h2{ border-image-width: border:}
    
}
h1{
    color: rgb(3, 2, 0);
    text-align: center;
    h2{ border-image-width: border:}
}
footer {
    font-size: 15px;
    color: black;
    text-align: center;
    background-color: grey;
    padding: 20px;
}
p {
    margin: 2rem;
    margin-top: 2%;
}
